* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    /* 画面の縦幅の1/5 */
    padding: 0 20px;
    font-weight: bold;
}

.user-info {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    /* dividerの左端に合わせるためのマージン */
}

.user-id,
.user-name {
    margin-right: 20px;
    font-size: 30px;
    line-height: 1.5;
    /* 行の高さを設定 */
    display: flex;
    /* フレックスボックスを使用 */
    align-items: center;
    /* 垂直方向に中央揃え */
}

.logout-button {
    background-color: transparent;
    border: 3px solid black;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    margin-left: auto;
    margin-right: 5%;
    width: 300px;
    height: 100px;
}

.body {
    height: 80vh;
    /* 画面の縦幅の4/5 */
    display: flex;
    flex-direction: column;
}

.divider {
    height: 5px;
    /* ボディとヘッダーの仕切り */
    background-color: black;
    width: 90%;
    /* 画面の横幅の9/10 */
    margin: 0 auto;
    /* 中央に配置 */
}

.button-container {
    display: flex;
    justify-content: space-around;
    /* ボタンを左右対称に配置 */
    align-items: center;
    height: 100%;
    /* ボディの高さを占める */
}

.action-button {
    width: 40%;
    /* ボタンの横幅 */
    height: 66%;
    /* ボタンの縦幅 */
    background-color: transparent;
    border: 6px solid black;
    font-weight: bold;
    font-size: 100px;
    cursor: pointer;
}